<launch>
    <!--
    * This launch file connects QGroundControl to ROS. 
    * In spesific this file subscribes to contaminant message from vehicle(UGV)
    -->
    
    <arg name="ns" default="GCS" />
    <arg name="mavlink_bridge_url" default="udp://127.0.0.1:14553@127.0.0.1:14560" />

    <include file="$(find mavros)/launch/mavlink_bridge.launch">
		<arg name="ns" value="$(arg ns)" />
		<arg name="mavlink_bridge_url" value="$(arg mavlink_bridge_url)" />
	</include>

    <node name="QGCinterface" pkg="mavros" type="QGCinterface">
        <remap from="/GCS/UGV_global" to="/UGV/global_position"/>
        <remap from="/GCS/contaminant" to="/UGV/cont_pose"/>
    </node>

</launch>
